/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Face Definitions */
@font-face {
    font-family: 'RuneScapeChat07';
    src: url('/theBlackLodge/assets/fonts/RuneScape-Chat-07.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RuneScapeNPCChat';
    src: url('/theBlackLodge/assets/fonts/RuneScape-NPC-Chat-2.woff2') format('woff2'),
         url('/theBlackLodge/assets/fonts/RuneScape-NPC-Chat-2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Body Styles */
body {
    font-family: 'RuneScapeChat07', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background: url('/theBlackLodge/assets/img/background.svg') no-repeat center center fixed;
    background-size: cover;
}

/* Header Styles */
header {
    background: url('/theBlackLodge/assets/img/banner.svg') repeat;
    background-position: center;
    background-size: contain; /* Adjust the size of the SVG pattern */
    color: #fff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 85%;
    margin: 20px auto;
    z-index: 1; /* Ensures the header is on top */
}

header.fixed-height {
    height: 200px;
}

/* Navigation Styles within Header */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

/* Header Text Styles */
header h1,
header p {
    margin: 0;
    font-size: 2em;
    position: relative;
    z-index: 2;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'RuneScapeNPCChat', serif;
    margin-bottom: 15px;
}

/* Main Content Styles */
main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* Container Styles */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
